{
  "arrowParens": "avoid",
  "generatorStarSpacing": true,
  "offsetTernaryExpressions": true,
  "semi": true,
  "singleQuote": true,
  "spaceBeforeFunctionParen": false,
  "trailingComma": "none",
  "yieldStarSpacing": true
}
